**Slide I**

**Variables in Python**

In [ ]:
# Assigning a string to the variable 'name'
name = "Alice"

# Assigning an integer to the variable 'age'
age = 25

# Assigning a float to the variable 'height'
height = 5.4

# Assigning a boolean value to 'is_student'
is_student = True

# Display all variables
print(name)         # Output: Alice
print(age)          # Output: 25
print(height)       # Output: 5.4
print(is_student)   # Output: True

# Check variable types
type(age)
type(is_student)

Alice
25
5.4
True

bool

**Implicit Typecasting**

Python automatically converts one data type to another when safe to do so (like from int to float).

In [ ]:
a = 10       # int
b = 3.5      # float

result = a + b   # int + float → result is float

print(result)        # Output: 13.5
print(type(result))  # Output: <class 'float'>

13.5
<class 'float'>

**Getting Input from the User (Also Explicit Type casting)**

In [ ]:
# Ask the user to enter their name
name = input("Enter your name: ")  # Takes input as a string

# Ask the user to enter their age
age = int(input("Enter your age: "))  # Converts the input string to integer (explicit typecasting)

# Display a personalized message
print("Hello", name, "you are", age, "years old.")

Enter your name: Gaurav
Enter your age: 24
Hello Gaurav you are 24 years old.

**Arithmetical Operations**

In [ ]:
a = 11   # Assigning integer value 10 to variable a
b = 3    # Assigning integer value 3 to variable b

print(a + b)   # Addition
print(a - b)   # Subtraction
print(a * b)   # Multiplication
print(a / b)   # Division
print(a // b)  # Floor Division (Rounds the result down to the nearest whole number)
print(a % b)   # Modulus (remainder)
print(a ** b)  # Exponentiation:(11^3)

14
8
33
3.6666666666666665
3
2
1331

**Compound Assignment Operators**

In [ ]:
x = 5          # Initial value of x is 5
x += 3         # x = x + 3 => x becomes 8
print(x)

x *= 2         # x = x * 2 => x becomes 16
print(x)

x -= 4         # x = x - 4 => x becomes 12
print(x)

8
16
12

**Boolean Operation**

Everything else (except non-empty or non-zero) is truthy.

In [ ]:
print(0 and 5)        # 0 → first is falsy
print(3 and 5)        # 5 → both are truthy, returns second
print('' and 'hello') # '' → falsy
print('hi' and 'bye') # 'bye'

print(0 or 5)         # 5 → first is falsy
print(3 or 5)         # 3 → first is truthy
print('' or 'hello')  # 'hello'
print('hi' or 'bye')  # 'hi'

print(not 0)       # True
print(not 5)       # False
print(not '')      # True
print(not 'hi')    # False

0
5

bye
5
3
hello
hi
True
False
True
False

**Built-in Functions**

In [ ]:
num = -7.6
print(abs(num))     # Absolute value: 7.6

print(round(num))   # Rounded value: -8

print(max(5, 8, 2))  # Maximum value: 8

7.6
-8
8

**Modules in Python**

> Add blockquote

In [ ]:
import math  # Importing the math module

print(math.sqrt(16))  # Prints square root of 16 => 4.0
print(math.pi)        # Prints value of Pi => 3.14159...

4.0
3.141592653589793

**Relational Operators and Boolean Type**

In [ ]:
a = 15
b = 10

print(a == b)  # False: a is not equal to b
print(a != b)  # True: a is not equal to b
print(a > b)   # True: a is greater than b
print(a < b)   # False: a is not less than b
print(a >= b)  # True: a is greater than or equal to b
print(a <= b)  # False: a is not less than or equal to b

False
True
True
False
True
False

**f-strings**

In [ ]:
name = "Bob"
age = 30

# Use f-string to include variables in a sentence
print(f"My name is {name} and I am {age} years old.")

My name is Bob and I am 30 years old.

**Slide II & III**

**Data Types in Python**

**List & It's operations**

In [ ]:
# Creating a list of fruits
fruits = ["apple", "banana", "cherry"]

# Accessing elements
print(fruits[0])       # Prints 'apple'

# Appending an element
fruits.append("orange")
print(fruits)          # ['apple', 'banana', 'cherry', 'orange']

# Inserting at specific index
fruits.insert(1, "grape")
print(fruits)          # ['apple', 'grape', 'banana', 'cherry', 'orange']

# Removing an element
fruits.remove("banana")
print(fruits)          # ['apple', 'grape', 'cherry', 'orange']

# Popping the last element
last_item = fruits.pop()
print(last_item)       # 'orange'
print(fruits)          # ['apple', 'grape', 'cherry']

# Slicing the list
print(fruits[1:4])     # ['grape']

# Sorting the list
fruits.sort()
print(fruits)          # ['apple', 'cherry', 'grape']

# Reversing the list
fruits.reverse()
print(fruits)          # ['grape', 'cherry', 'apple']

# Looping through the list
for things in fruits:
    print(things)       # Prints each fruit one by one

apple
['apple', 'banana', 'cherry', 'orange']
['apple', 'grape', 'banana', 'cherry', 'orange']
['apple', 'grape', 'cherry', 'orange']
orange
['apple', 'grape', 'cherry']
['grape', 'cherry']
['apple', 'cherry', 'grape']
['grape', 'cherry', 'apple']
grape
cherry
apple

**Tuple and It's operations**

In [ ]:
# Creating a tuple of fruits
fruits = ("apple", "banana", "cherry")

# Accessing elements by index
print(fruits[0])        # Output: 'apple'

# Tuple is immutable - we cannot append, insert or remove directly
# But we can convert to a list, modify, and convert back if needed

# Converting tuple to list to add an element
fruits_list = list(fruits)
fruits_list.append("orange")
fruits = tuple(fruits_list)
print(fruits)           # ('apple', 'banana', 'cherry', 'orange')

# Getting the last item (no pop, but we can access by index)
last_item = fruits[-1]
print(last_item)        # 'orange'

# Length of the tuple
print(len(fruits))      # 4

# Checking existence
print("apple" in fruits)   # True

# Slicing the tuple
print(fruits[1:3])      # ('banana', 'cherry')

# Looping through the tuple
for fruit in fruits:
    print(fruit)        # Prints each fruit one by one

apple
('apple', 'banana', 'cherry', 'orange')
orange
4
True
('banana', 'cherry')
('apple', 'banana', 'cherry', 'orange')
('orange', 'cherry', 'banana', 'apple')
apple
banana
cherry
orange

**Set & It's Operations**

In [ ]:
my_set = {1, 2, 3, 2}

print(my_set)       # Output: {1, 2, 3} (duplicate 2 is removed)

# Add a new item
my_set.add(4)
print(my_set)       # Output: {1, 2, 3, 4}

# Remove an item
my_set.remove(1)
print(my_set)       # Output: {2, 3, 4}

# Trying to access by index
 #print(my_set[0])  ❌ Will cause an error

{1, 2, 3}
{1, 2, 3, 4}
{2, 3, 4}

**Dictionary & Operations**

In [ ]:
# Creating a dictionary of fruits with quantity as value
fruits = {
    "apple": 10,
    "banana": 5,
    "cherry": 12
}
# Accessing elements (value by key)
print(fruits["apple"])  # Output: 10

# Adding a new key-value pair
fruits["orange"] = 7
print("After adding orange:", fruits)
# Output: {'apple': 10, 'banana': 5, 'cherry': 12, 'orange': 7}

# Updating the value of an existing key
fruits["banana"] = 8
print("After updating banana:", fruits)
# Output: {'apple': 10, 'banana': 8, 'cherry': 12, 'orange': 7}

# Removing a key-value pair using del
del fruits["banana"]
print("After deleting banana:", fruits)
# Output: {'apple': 10, 'cherry': 12, 'orange': 7}

# Popping a key-value pair and returning its value
removed_value = fruits.pop("orange")
print("Removed value:", removed_value)  # Output: 7
print("After popping orange:", fruits)
# Output: {'apple': 10, 'cherry': 12}

# Length of the dictionary (number of key-value pairs)
print("Length:", len(fruits))  # Output: 2

10
After adding orange: {'apple': 10, 'banana': 5, 'cherry': 12, 'orange': 7}
After updating banana: {'apple': 10, 'banana': 8, 'cherry': 12, 'orange': 7}
After deleting banana: {'apple': 10, 'cherry': 12, 'orange': 7}
Removed value: 7
After popping orange: {'apple': 10, 'cherry': 12}
Length: 2

In [ ]:
# Checking for key existence
print("apple" in fruits)   # Output: True
print("banana" in fruits)  # Output: False

# Looping through dictionary keys
print("Looping through keys:")
for fruit in fruits:
    print(fruit)
# Output:
# apple
# cherry

# Looping through key-value pairs
print("Looping through key-value pairs:")
for fruit, quantity in fruits.items():
    print(f"{fruit}: {quantity}")
# Output:
# apple: 10
# cherry: 12

# Getting all keys
print("Keys:", fruits.keys())
# Output: dict_keys(['apple', 'cherry'])

# Getting all values
print("Values:", fruits.values())
# Output: dict_values([10, 12])

# Getting all items (key-value pairs)
print("Items:", fruits.items())
# Output: dict_items([('apple', 10), ('cherry', 12)])

True
False
Looping through keys:
apple
cherry
Looping through key-value pairs:
apple: 10
cherry: 12
Keys: dict_keys(['apple', 'cherry'])
Values: dict_values([10, 12])
Items: dict_items([('apple', 10), ('cherry', 12)])

**From pdf**

**if-else Statement in Python**

Key Concepts:
1.   if checks a condition (expression that returns True or False)
2.   If True, the code under if block runs.
3.   If False, the code under else runs (if provided).

Note: if-elif-else is used for multiple conditions

**Nested if-else**

In [ ]:
username = input ("Enter your Username:")
password = input ("Enter your Password:")

if username == "admin":
    if password == "1234":
        print("Login successful!")
    else:
        print("Incorrect password.")
else:
    print("Unknown user.")

Enter your Username:gaur
Enter your Password:123
Unknown user.

**While Loop in python**

Used when the number of iterations is unknown; depends on a condition. Repeats as long as the condition is True.

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

**break Statement**

Used to exit a loop (both while and for) immediately when a certain condition is met.

In [ ]:
i = 1
while i <= 5:
  if i == 3:
    break
  print(i)
  i += 1

1
2

**for Loop**

Used when the number of iterations is known or fixed. Iterates over items in a sequence (like list, range).

In [ ]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

**continue Statement**

Used to skip the current iteration and continue with the next one.

In [ ]:
for i in range(1, 6):
    if i == 3:
        continue  # skips rest of the code for i==3
    print(i)

1
2
4
5

**while loop with break & continue**

In [ ]:
attempts = 0
while attempts < 3:
    username = input("Enter username: ")

    if username == "":
        print("Empty input, try again.")
        continue  # skip to next attempt

    if username == "admin":
        print("Welcome admin!")
        break  # exit loop on success
    else:
        print("Incorrect username.")

    attempts += 1

Enter username:
Empty input, try again.
Enter username:
Empty input, try again.
Enter username:
Empty input, try again.
Enter username: admin
Welcome admin!

**Nested Loops in Python**

A nested loop is a loop inside another loop. This is useful when dealing with multi
dimensional data like matrices, tables, or patterns.

In [ ]:
# Define the number of rows we want in our pattern
rows = input("Enter the number of rows: ")

# Convert the input string to an integer
rows = int(rows)

# Outer loop: Iterates over each row (from 1 to rows inclusive)
for i in range(1, rows + 1):

    # Inner loop: Iterates from 1 to i (inclusive), so the number of elements increases each row
    for j in range(1, i + 1):

        # Print the current value of j with a space (staying on the same line using end=" ")
        print(j, end=" ")

    # After inner loop ends, move to the next line (start a new row)
    print()

Enter the number of rows: 7
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6
1 2 3 4 5 6 7

**Printing Primes between 2 & 99**

In [ ]:
# Initialize an empty list to store prime numbers
primes = []

# Loop through numbers from 2 to 99 (inclusive of 2, exclusive of 100)
for num in range(2, 100):

    # Assume the current number is prime (we'll check this below)
    possible_prime = True

    # Check for factors from 2 to num-1
    for j in range(2, num):

        # If num is divisible by any j, it's not prime
        if num % j == 0:
            possible_prime = False  # Mark as not prime
            break  # No need to check further, break the inner loop

    # If no factor was found, then num is a prime number
    if possible_prime == True:
        primes.append(num)  # Add it to the list of primes

# After all numbers are checked, print the list of prime numbers
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

**Function**

In [ ]:
# Define a function to add two numbers
def add_numbers(a, b):
    result = a + b
    return result

# Call the function and print the result
sum_value = add_numbers(5, 3)
print("The sum is:", sum_value)

The sum is: 8

In [ ]:
# Define a function with two parameters
def greet(name, message):
    print(f"{message}, {name}!")

# Call the function with arguments
greet("Alice", "Hello")      # "Alice" and "Hello" are arguments
greet("Bob", "Good morning") # "Bob" and "Good morning" are arguments

Hello, Alice!
Good morning, Bob!

**Lambda Function**

A lambda function in Python is a small anonymous function — meaning:

1.   It has no name (unless you assign one),
2.   It's used for short, simple operations,
3.   Defined using the lambda keyword instead of def.

In [ ]:
# Define lambda functions
add = lambda a, b: a + b
subtract = lambda a, b: a - b
multiply = lambda a, b: a * b
divide = lambda a, b: a / b if b != 0 else "Error: Division by zero"

print("🧮 Lambda Calculator")

# Get input from user
try:
    a = float(input("Enter the first number: "))
    b = float(input("Enter the second number: "))

    # Perform operations
    print(f"\nResults for a = {a}, b = {b}:")
    print(f"Addition: {add(a, b)}")
    print(f"Subtraction: {subtract(a, b)}")
    print(f"Multiplication: {multiply(a, b)}")
    print(f"Division: {divide(a, b)}")

except ValueError:
    print("⚠️ Invalid input. Please enter numeric values.")

🧮 Lambda Calculator
Enter the first number: 11.2
Enter the second number: 20.5

Results for a = 11.2, b = 20.5:
Addition: 31.7
Subtraction: -9.3
Multiplication: 229.6
Division: 0.5463414634146341

**Recursive Function**

In [ ]:
def factorial(n):
    if n == 0 or n == 1:        # Base case
        return 1
    else:
        return n * factorial(n - 1)  # Recursive call

print(factorial(5))  # Output: 120

120

**Global & Local Variable in a Function**

In [ ]:
# Global variable
message = "Global Message"

def print_message():
    # Local variable (only accessible inside this function)
    message = "Local Message"
    print("Inside function:", message)

print_message()
print("Outside function:", message)

Inside function: Local Message
Outside function: Global Message

**Finding Maximum in a List**

In [ ]:
def find_max(numbers):
    # Assume the first number is the max initially
    max_num = numbers[0]
    for num in numbers:
        if num > max_num:
            max_num = num
    return max_num

nums = [23, 45, 67, 89, 12]
a = find_max(nums)
print("Maximum number is:", a)

Maximum number is: 89

**Finding key through value in a Dictionary**

In [ ]:
# Sample dictionary and value to find
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 2}
value_to_find = 2

# Step 1: Create an empty list to store keys with the desired value
keys_with_value = []

# Step 2: Loop through the dictionary items (key-value pairs)
for key, value in my_dict.items():
    # Step 3: Check if the current value matches the value to find
    if value == value_to_find:
        # Step 4: If it matches, add the key to the result list
        keys_with_value.append(key)

# Step 5: Print the result
print("Keys with value", value_to_find, ":", keys_with_value)

Keys with value 2 : ['b', 'd']

**Function to sum all digits in a number**

In [ ]:
def sum_digits(n):
    total = 0
    for digit in str(abs(n)):  # Convert number to string after removing negative sign (if any)
        total += int(digit)    # Convert each character back to integer and add to total
    return total

print(sum_digits(1234))

10